
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index.css">
    <title>{{.Title}}</title>
</head>

<header class="navbar">
    <h1><a href="https://averystampp.com">averystampp.com</a></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
</header>

{{ range .Translations }}
  <a href="{{ .RelPermalink }}">
    {{ .Language.LanguageName }}
  </a>
{{ end }}


<body>
    <main class="main-content">
        <article>
            <div class="main-header">
                
                <h1 class="title">{{ .Title }}</h1>
                <p class="date">{{ .Date.Format "January 2, 2006" }}</p>
            </div>
        
            <div class="main-text">
                {{ .Content }}
                <p>Title: {{ .Title }}</p>
<p>Kind: {{ .Kind }}</p>
<p>Type: {{ .Type }}</p>
<p>Layout: {{ .Layout }}</p>
            </div>
        </article>
    </main>
</body>