
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index.css">
    <title>{{.Title}}</title>
</head>

<header class="navbar">
    <h1>averystampp.com</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
</header>

<body>
    <main class="main-content">
        <article>
            <div class="main-header">
                <h1 class="title">{{ .Title }}</h1>
                <p class="date">{{ .Date.Format "January 2, 2006" }}</p>
            </div>
        
            <div class="main-text">
                {{ .Content }}

            </div>
        </article>
    </main>
</body>